/* .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  } */
  
  body {
    background-image: url("../../public/images/animals.jpeg");
    background-repeat: no-repeat;
    /* background-position: center 100; */
    /* background-position: left ; */
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: montserrat;
}
  
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  /* background: white; */
  border-radius: 10px;
  /* box-shadow: 10px 10px 15px rgba(0,0,0,0.05); */
}

  .choose {
    color: black;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
  }
  select.selectt{
    background-color: #be5e5e;
    color: white;
    padding: 6px;
    font-size: 16px;
    border:none;
    cursor: pointer;
  }

  .apbtn{
  width: 6cm;
            padding: 10px;
            margin-bottom: 10px;
            background-color: #000;
            color: #fff;
            cursor: pointer;  

  }

  /* zy margin left  */
  /* #apbtn{
    position:relative;  left:6cm; 
  } */

  /* * {
 


  } */

  *:not(img){
    text-align: center;
}

.error-message {
  color: red;
    margin-top: 5px; 
    display: inline-block; /* Display error messages as inline elements */

}
.error-message-container{
  color: red;
  margin-top: 5px; 
  display: inline-block; /* Display error messages as inline elements */

}