body {
    background-image: url("../../public/images/1200x630-Happy-Dogs-by-HQuality-shutterstock_1400206646.png");
    background-repeat: no-repeat;
    background-position: center 100;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: montserrat;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
  }
  