body{
    background-color: rgb(223, 221, 218);
}

#Services{
    background-image: url('../../public/images/Ads.webp');
    background-size: cover;
    background-position: center center;
    background-color: #ff5454;
    border: none;
    color: white;
    padding: 50px 100px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    font-size: 28px;
  }
    
#Appoitments{
    background-image: url("../../public/images/CatAppointments.gif");
    background-size: cover;
    background-position: center center;
    background-color: #ff5454;
    border: none;
    color: black;
    padding: 50px 100px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    font-size: 28px;
    
  }

#Host{
    background-image: url("../../public/images/Dog\ Receptionist.jpg");
    background-size: cover;
    background-position: center center;
    background-color: #ff5454;
    border: none;
    color: white;
    padding: 50px 100px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    font-size: 28px;
}


#Vaccines{
    background-image: url("../../public/images/Vaccinated\ Cat\ 2.jpg");
    background-size: cover;
    background-position: center center;
    background-color: #ff5454;
    align-self: flex-end;
    border: none;
    color: black;
    padding: 50px 100px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    font-size: 28px;
}

#image_row1{
    width: 20%;
    height: 20%;
    margin: 200px auto;
    padding: 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}